.header{
	background-image: url('../img/top-banner.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 50vh;
	position: relative;
}

.accordion-menu {
	display: flex;
}
.accordion-button {
	width: 315px;
}

.accordion-body {
    padding: 0;
	overflow: hidden;
	max-width: 315px;
}

.img {
	max-width: 315px;
	max-height: 225px;
	transition: 1s; 
	transform: none;
}

.img:hover {
	transform: scale(1.2);
}

.nav {
	text-decoration: none;
	padding: 5px;
	color: #fff;
}

.input-group {
	margin: 0 auto;
	max-width:500px;
} 

.input-btn {
	max-width: 500px;
}


@media  screen and (max-width: 414px) {
	.accordion-menu {
		display: block;
	}

	.accordion-button{
		width: 100%;
	}

	.accordion-body {
		margin: 0 auto;
	}
	
	.col-md-4 {
		margin: 0 auto;
	}
}