body {
    background: #AEDEA9;
}

.text {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Inter';
    line-height: 24px;
}

.look, .mark {
    color: #FA20BD;
    font-style: italic;
}

.photo {
    width: 450px;
    height: 169px;
}

.title {
    font-size: 30px;
    font-weight: 400;
    display: inline-block;
    background: #F48B8B;
    line-height: 36px;
    font-family: 'Inter';
}

.type {
    font-weight: bold;
}

.link {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    text-decoration: none;
    line-height: 38px;
    color: #074C9E;
}


