
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(227, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

.circle {
    width: 600px;
    height: 100px;
    background-color:aqua;
    display: flex;
    border-radius: 100%;
    margin-right: 100px;
}

.circle-1 {
    animation: pulsare 5s linear 3s infinite reverse;
}

.circle-2 {
    animation: pulsare 5s linear 3.25s infinite reverse;
}

.circle-3 {
    animation: pulsare 5s linear 3.50s infinite reverse;
}

.circle-4 {
    animation: pulsare 5s linear 3.75s infinite reverse;
}

.circle-5 {
    animation: pulsare 5s linear 4s infinite reverse;
}

@keyframes pulsare {
    10% {
        transform: scale(0.05);
        background-color: rgb(113, 164, 240);
    } 

    20% {
        transform: scale(0.20);
        background-color: rgb(126, 150, 205);
    }

    30% {
        transform: scale(0.35);
        background-color: rgb(166, 24, 176);
    }

    40% {
        transform: scale(0.50);
        background-color: rgb(195, 42, 206);
    }
    
    50% {
        transform: scale(0.65);
        background-color: rgb(229, 72, 240);
    }

    60% {
        transform: scale(0.80);
        background-color: rgb(136, 143, 137);
    }

    70% {
        transform: scale(0.95);
        background-color: rgb(49, 229, 199);
    }

    80% {
        transform: scale(1.10);
        background-color: rgb(89, 255, 119);
    }

    90% {
        transform: scale(1.20);
        background-color: rgb(37, 213, 69);
    }

    100% {
        transform: scale(1.25);
        background-color: rgb(7, 183, 39);
    }
} 
 

