
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(227, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

.circle {
    width: 600px;
    height: 100px;
    display: flex;
    border-radius: 100%;
    margin-right: 100px;
}

.circle-1 {
    animation: pulsare 4s ease-in-out 0.5s infinite reverse;
}

.circle-2 {
    animation: pulsare 4s ease-in-out 0.75s infinite reverse;
}

.circle-3 {
    animation: pulsare 4s ease-in-out 1s infinite reverse;
}

.circle-4 {
    animation: pulsare 4s ease-in-out 1.25s infinite reverse;
}

.circle-5 {
    animation: pulsare 4s ease-in-out 1.50s infinite reverse;
}

@keyframes pulsare {
    0% {
        transform: scale(0.30);
        background-color: rgb(113, 164, 240);
    } 

    50% {
        transform: scale(0.70);
        background-color: rgb(195, 42, 206);
    }

    100% {
        transform: scale(1);
        background-color: rgb(195, 42, 206);
    }

    50% {
        transform: scale(0.30);
        background-color: rgb(49, 229, 199);
    }
    
    0% {
        transform: scale(0.70);
        background-color: rgb(30, 177, 57);
    }
   
} 
 

